html { height: 100%; }
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1150px;
  height: 100%;
  display: table;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 95px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.main_content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: 300px;
  table-layout: fixed;
}