html { height: 100%; }
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

.main_content {
  display: inline-block;
  vertical-align: middle;
  margin-top: 60px; // To compensate for header height
  width: 300px;
}